body {
  margin: 0px;
}

.image-grid {
  --gap: 8px;
  --num-cols: 4;
  --row-height: 150px;

  box-sizing: border-gox;
  padding: var(--gap);
  margin-bottom: 40;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 95%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.thumbnail {
  border-radius: 12px;
}

/* Basic styles for the slideshow */
.slideshow-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.slideshow-container img {
  max-width: 90%;
  max-height: 80%;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: white;
  cursor: pointer;
  user-select: none;
}
.prev-btn {
  left: 20px;
}
.next-btn {
  right: 20px;
}

.letusknow {
  text-align: center;
  color: green;
}


/* Anything under 1024px */
@media screen and (max-width: 1024px) {
  .image.grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}
